.price {
  padding-top: 40px;
  padding-bottom: 0;
  background: cl(cerulean);
  @include overTab {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .inner {
  }

  .price-wrap {
    display: block;
    text-align: center;
    margin: 16px auto;
  }
  .price-list {
    padding-left: 0;
    display: inline-block;
    background-color: cl(white);
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    p {
      padding-top: 20px;
      font-size: 1vw;
      text-align: left;
    }

    .item {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
      @include overTab {
        font-size: 1.6vw;
      }
      span {
        color: cl(emerald);
      }
    }
  }

  .price-item {
    flex-flow: column-reverse;
    display: flex;
    align-items: center;

    @include overTab {
      margin-left: 50px;
      margin-right: 50px;
    }
    &:nth-child(odd) {
      @include overTab {
        flex-flow: row-reverse;
      }
      .price-image {
        @include overTab {
          margin-right: 40px;
        }
      }
      .desc {
        @include overTab {
          margin-right: 40px;
        }
      }
    }
    &:nth-child(even) {
      @include overTab {
        flex-flow: row;
      }
      .price-image {
        @include overTab {
          margin-left: 40px;
        }
      }
    }

    .price-desc {
      text-align: left;
      background-color: cl(white);
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      flex-flow: column;
      margin-bottom: 40px;
      margin-right: 20px;
      margin-left: 20px;
      border-top: 1px solid rgba(59, 166, 201, 0.3);

      @include overTab {
        flex: 1;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border-radius: 10px;
        border-top: 0;
      }
    }
    .price-image {
      padding-left: 20px;
      padding-right: 20px;

      @include overTab {
        width: percentage(640 /1280);
        display: flex;
        padding-left: 0;
        padding-right: 0;
      }
      img {
        display: block;
      }
    }
    .text {
      font-weight: 600;
      text-align: center;
      font-size: 25px;

      @include overTab {
        font-size: 2vw;
        margin-bottom: 20px;
      }
      + .text {
        @include overTab {
          padding-top: 40px;
        }
      }
      span {
        color: cl(emerald);
      }
    }
    .detail-title {
      font-size: 25px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;

      @include overTab {
        font-size: 1.6vw;
      }
    }
    .detail {
      margin: 0 auto;
      font-size: 20px;

      @include overTab {
        font-size: 1vw;
      }
    }
    .price-title {
      font-size: 25px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      @include overTab {
        font-size: 1.6vw;
      }
    }
    .prices {
      font-size: 20px;
      margin: 0 auto;

      @include overTab {
        font-size: 1vw;
      }
    }
  }
}
